.header-banner {
  background-image: url(../../assets/images/10.jpg);
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-scroller {
  height: 3.75rem; /* 隱藏下方捲軸 */
  overflow-y: hidden;
  .nav {
    flex-wrap: nowrap;
    padding-bottom: 1rem; /* 隱藏下方捲軸 */
    overflow-x: auto;
    white-space: nowrap;
  }
  a {
    position: relative;
  }
  a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    border-bottom: 2px solid $secondary;
    transition: 0.4s;
  }
  a:hover::after {
    width: 100%;
  }
}

.nav-counter {
  position: absolute;
  top: 10px;
  right: -5px;
  min-width: 8px;
  padding: 0 6px;
  border-radius: 50%;
  color: $white;
  text-align: center;
  font-size: 12px;
  background: $secondary;
}

.footer {
  &-banner {
    background-image: url(../../assets/images/12.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
