.offcanvas-end {
  top: 76px;
}

.offcanvas {
  width: 540px;
}

.offcanvas-body {
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.cartDelete {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 4px;
  left: 4px;
}
